.bender
**/__pycache__

# Target: verif
target/verif/config/generated/*.mk
target/verif/simvectors/generated
target/verif/vsim/work
target/verif/vsim/compile.tcl
target/verif/vsim/modelsim.ini
target/verif/vsim/transcript
