.bender
**/__pycache__

# Target: verif
target/verif/config/*.mk
target/verif/simvectors
target/verif/vsim/work
target/verif/vsim/compile.tcl
target/verif/vsim/modelsim.ini
target/verif/vsim/transcript
